version: '3.8'

services:
  notifier:
    build:
      context: .
      dockerfile: notifier/Dockerfile
    container_name: aniscale-notifier
    # Loads variables from your .env file into the container
    env_file:
      - .env
    # We mount the key file so the container can see it
    volumes:
      - ./aniscale-key.json:/root/aniscale-key.json
    restart: always

  scraper:
    build:
      context: .
      dockerfile: scraper/Dockerfile
    container_name: aniscale-scraper
    env_file:
      - .env
    volumes:
      - ./aniscale-key.json:/root/aniscale-key.json
    depends_on:
      - notifier
    restart: always